@media  screen and (max-width: 1100px){
    .section{
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .section{
        padding-top: 10px;
        padding-bottom: 50px;
    }
}