@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

*{
    box-sizing: border-box;
}
  
body{
    margin: 0;
}
  
header{
    background-color: #00375b;
    text-align: center;
    padding: 2px;
}
  
header h1{
    color: white;
    font-family: 'Lora', serif;
}
  
.section{
    font-family: 'Inter', sans-serif;
    text-align: justify;
    padding-top: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
  
.section_parte_1{
    flex: 40%;
    margin-left: 5%;
    margin-right: 5%;
}
  
.section_parte_1 h2{
    color: red;
}

.section_parte_2{
    text-align: center;
    flex: 45%;
    margin-right: 5%;
}

.section_parte_2 img{
    border-radius: 30px;
}

body a{
    display: inline-block;
    background-color: #00375b;
    color: white;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
}

footer{
    background-color: #00375b;
    margin-top: 100px;
    width: 100%;
	height:100%;
    padding: 50px 10px 50px 10px;
}
  
@media only screen and (max-width: 1300px){
    header h1{
        font-size: 25px;
    }
    .section{
        padding-top: 1px;
    }
    .section_parte_1 h2{
        margin-top: 25px;
        font-size: 20px;
    }
    .section_parte_1{
        flex: 100%;
        margin: 5%;
        text-align: justify;
    }
    .section_parte_2{
        flex:100%;
        margin: 5%;
        text-align: center;
    }
    footer{
        margin-top: 20px;
    }
}
   